config HAVE_PCI
	bool

menuconfig PCI
	bool "PCI support"
	depends on HAVE_PCI

if PCI

config PCI_DOMAINS
	bool
	depends on PCI

source "drivers/pci/pcie/Kconfig"

config PCI_QUIRKS
	default y
	bool "Enable PCI quirk workarounds" if EXPERT

config PCI_LABEL
	def_bool y if (DMI || ACPI)
	select NLS

config VGA_ARB
	bool "VGA Arbitration" if EXPERT
	default y
	depends on (PCI && !S390)

config VGA_ARB_MAX_GPUS
	int "Maximum number of GPUs"
	default 16
	depends on VGA_ARB

endif
