source "drivers/tty/Kconfig"

config VIRTIO_CONSOLE
	tristate "Virtio console"
	depends on TTY
	select HVC_DRIVER
	select VIRTIO

config RANDOM_TRUST_CPU
	bool "Trust the CPU manufacturer to initialize Linux's CRNG"
	depends on ARCH_RANDOM
	default n
