config TTY
	bool "Enable TTY" if EXPERT
	default y

if TTY

config VT
	bool "Virtual terminal" if EXPERT
	select INPUT
	default y if !UML

config CONSOLE_TRANSLATIONS
	depends on VT
	default y
	bool "Enable character translations in console" if EXPERT

config VT_CONSOLE
	bool "Support for console on virtual terminal" if EXPERT
	depends on VT
	default y

config VT_CONSOLE_SLEEP
	def_bool y
	depends on VT_CONSOLE && PM_SLEEP

config HW_CONSOLE
	bool
	depends on VT
	default y

config UNIX98_PTYS
	bool "Unix98 PTY support" if EXPERT
	default y

config VT_HW_CONSOLE_BINDING
	bool "Support for binding and unbinding console drivers"
	depends on HW_CONSOLE

source "drivers/tty/serial/Kconfig"

source "drivers/tty/hvc/Kconfig"

endif # TTY

