# SPDX-License-Identifier: GPL-2.0-only
config VIRTIO
	tristate

config VIRTIO_PCI_LIB
	tristate

config VIRTIO_PCI_LIB_LEGACY
	tristate

menuconfig VIRTIO_MENU
	bool "Virtio drivers"
	default y

if VIRTIO_MENU

config VIRTIO_PCI
	tristate "PCI driver for virtio devices"
	depends on PCI
	select VIRTIO_PCI_LIB
	select VIRTIO

config VIRTIO_PCI_LEGACY
	bool "Support for legacy virtio draft 0.9.X and older devices"
	default y
	depends on VIRTIO_PCI
	select VIRTIO_PCI_LIB_LEGACY

endif # VIRTIO_MENU
