config PCIEASPM
	bool "PCI Express ASPM control" if EXPERT
	default y

choice
	prompt "Default ASPM policy"
	default PCIEASPM_DEFAULT
	depends on PCIEASPM

config PCIEASPM_DEFAULT
	bool "BIOS default"
	depends on PCIEASPM
endchoice
