config NET_CORE
	default y
	bool "Network core driver support"

config VIRTIO_NET
	tristate "Virtio network driver"
	depends on VIRTIO
	select NET_FAILOVER

config NET_FAILOVER
	tristate "Failover driver"
	select FAILOVER
