config GENERIC_IRQ_PROBE
	bool

config GENERIC_IRQ_SHOW
       bool

config GENERIC_IRQ_EFFECTIVE_AFF_MASK
       bool

config GENERIC_PENDING_IRQ
	bool

config GENERIC_IRQ_MIGRATION
	bool

config HARDIRQS_SW_RESEND
       bool

config IRQ_DOMAIN
	bool

config IRQ_DOMAIN_HIERARCHY
	bool
	select IRQ_DOMAIN

config GENERIC_IRQ_MATRIX_ALLOCATOR
	bool

config GENERIC_IRQ_RESERVATION_MODE
	bool

config IRQ_FORCED_THREADING
       bool

config SPARSE_IRQ
	bool "Support sparse irq numbering" if MAY_HAVE_SPARSE_IRQ
