config FS_IOMAP
	bool

source "fs/ext4/Kconfig"
source "fs/jbd2/Kconfig"

config FS_MBCACHE
	tristate
	default y if EXT2_FS=y && EXT2_FS_XATTR
	default y if EXT4_FS=y
	default m if EXT2_FS_XATTR || EXT4_FS

config EXPORTFS
	tristate

config FILE_LOCKING
	bool "Enable POSIX file locking API" if EXPERT
	default y

menu "Pseudo filesystems"

endmenu

config IO_WQ
	bool
