config CLOCKSOURCE_WATCHDOG
	bool

config ARCH_CLOCKSOURCE_INIT
	bool

config CLOCKSOURCE_VALIDATE_LAST_CYCLE
	bool

config GENERIC_TIME_VSYSCALL
	bool

config GENERIC_CLOCKEVENTS
	def_bool !LEGACY_TIMER_TICK

config GENERIC_CLOCKEVENTS_BROADCAST
	bool
	depends on GENERIC_CLOCKEVENTS

config GENERIC_CLOCKEVENTS_MIN_ADJUST
	bool

config GENERIC_CMOS_UPDATE
	bool

config HAVE_POSIX_CPU_TIMERS_TASK_WORK
	bool

config POSIX_CPU_TIMERS_TASK_WORK
	bool
	default y if POSIX_TIMERS && HAVE_POSIX_CPU_TIMERS_TASK_WORK


if GENERIC_CLOCKEVENTS
menu "Timers subsystem"

config TICK_ONESHOT
	bool

config NO_HZ_COMMON
	bool
	select TICK_ONESHOT

choice
	prompt "Timer tick handling"

config NO_HZ_FULL
	bool "Full dynticks system (tickless)"
	# NO_HZ_COMMON dependency
	# We need at least one periodic CPU for timekeeping
	depends on SMP
	depends on HAVE_CONTEXT_TRACKING
	# VIRT_CPU_ACCOUNTING_GEN dependency
	depends on HAVE_VIRT_CPU_ACCOUNTING_GEN
	select NO_HZ_COMMON
	select RCU_NOCB_CPU
	select VIRT_CPU_ACCOUNTING_GEN
	select IRQ_WORK
	select CPU_ISOLATION

endchoice

config CONTEXT_TRACKING
       bool

config HIGH_RES_TIMERS
	bool "High Resolution Timer Support"
	select TICK_ONESHOT

endmenu
endif
