config PROC_FS
	bool "/proc file system support" if EXPERT
	default y

config PROC_SYSCTL
	bool "Sysctl support (/proc/sys)" if EXPERT
	depends on PROC_FS
	select SYSCTL
	default y

config PROC_PAGE_MONITOR
 	default y
	depends on PROC_FS && MMU
	bool "Enable /proc page monitoring" if EXPERT

config PROC_PID_ARCH_STATUS
	def_bool n
	depends on PROC_FS
