config TREE_RCU
	bool
	default y if SMP

config SRCU
	bool

config TREE_SRCU
	bool
	default y if SRCU && !TINY_RCU

config RCU_STALL_COMMON
	def_bool TREE_RCU

config RCU_NEED_SEGCBLIST
	def_bool ( TREE_RCU || TREE_SRCU || TASKS_RCU_GENERIC )

config RCU_NOCB_CPU
	bool "Offload RCU callback processing from boot-selected CPUs"
	depends on TREE_RCU
	depends on RCU_EXPERT || NO_HZ_FULL
	default n
