config XOR_BLOCKS
	tristate
menuconfig CRYPTO
	tristate "Cryptographic API"

if CRYPTO

config CRYPTO_ALGAPI
	tristate
	select CRYPTO_ALGAPI2

config CRYPTO_ALGAPI2
	tristate

config CRYPTO_HASH
	tristate
	select CRYPTO_HASH2
	select CRYPTO_ALGAPI

config CRYPTO_HASH2
	tristate
	select CRYPTO_ALGAPI2

config CRYPTO_CRC32C
	tristate "CRC32c CRC algorithm"
	select CRYPTO_HASH
	select CRC32

endif
