menuconfig NET
	bool "Networking support"
	select NLATTR
	select GENERIC_NET_UTILS
	select BPF

if NET

menu "Networking options"

source "net/unix/Kconfig"

config INET
	bool "TCP/IP networking"

source "net/ipv4/Kconfig"

config RPS
	bool
	depends on SMP && SYSFS
	default y

config RFS_ACCEL
	bool
	depends on RPS
	select CPU_RMAP
	default y

config XPS
	bool
	depends on SMP
	select SOCK_RX_QUEUE_MAPPING
	default y

config NET_RX_BUSY_POLL
	bool
	default y if !PREEMPT_RT

config BQL
	bool
	depends on SYSFS
	select DQL
	default y

config NET_FLOW_LIMIT
	bool
	depends on RPS
	default y

endmenu
config FAILOVER
	tristate "Generic failover module"

endif   # if NET
